h1{
    text-align: center;
}

.gallery{
   margin: 5%;
   
}

a{
    font-size: 20px;
}

body{
    border:20px solid black;
    border-spacing:50px;
    background-color:#00c400;
    text-align:center;
    padding:90px ;
    background: linear-gradient(to top right, #33ccff 0%, #00c400 100%);
}

.mvp{
    text-align: center;
}
