h1{
    text-align: center;
}

.gallery{
   margin: 5%;
   
}

a{
    font-size: 20px;
}

body{
    border-color:black;
    border-spacing:50px;
    background-color:#00c400;
    text-align:center;
}

.mvp{
    text-align: center;
}